.wrapper {
    max-width: 500px;
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206);
  

}
.login-box {
    background: rgba(255, 255, 255, 0.2); 
    padding: 30px;
    border-radius: 10px;
    width: 370px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;

   
}
body {
    background-color: #eee;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #fff 10%, rgba(146, 58, 229, 0.4) 90%) no-repeat;
    margin: 0;
    padding: 0;
}


.flash-message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid ;
    position: relative;
}

.flash-message .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
   
}

.mt-5{
    margin-top: 1rem !important;
}

.mt-2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px ;
}
